* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */ 

body {
  font-family: "Josefin Sans", serif;
}

/* Start Style Header */


header {
  width: 94%;
  height: 13vh;
  margin: auto;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-grow: 4;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex-grow: 3;
}

.anav {
  text-decoration: none;
  color: #091a23;
  font-size: 16px;
  font-family: "Josefine Sans", sans-serif;
}

#order {
  width: 195px;
  height: 60px;
  color: #464d65;
  border-radius: 5px;
  border: 1px solid #ff5600;
  background: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
/* End Style Header */

/* Start Style main */

/* Start Style resurvation Section */

.resurvation {
  height: 500px;
  background-image: url(/Images/pngtree-food-gourmet-border-background-image_2213032.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.resurvationContent {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discover {
  color: #ff5600;
  font-size: 19px;
  font-weight: 500;
}

.resurvation-btn {
  width: 195px;
  height: 60px;
  color: white;
  border-radius: 5px;
  border: 1px solid #ff5600;
  background: #ff5600;
text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

h1 {
  font-size: 70px;
  display: flex;
  flex-direction: column;
}

.lorem {
  word-spacing: 3px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

/* End Style resurvation Section */

/* Start Style Chef Section */

.chef {
  width: 80%;
  margin: auto;
  height: 550px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.chef-img {
  height: 460px;
  width: 340px;
}

.content-one {
margin-bottom: 50px;
}

.discover-chef {
  color: #ff5600;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 25px;
}

.h2-sectiontow {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.lorem-section2 {
  word-spacing: 3px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  color: #212025;
}

.content-tow {
  display: flex;
  justify-content: space-between;
}

.icon-para-one {
  margin-right: 50px;
}

.categorie-one {
  margin-bottom: 25px;
  display: flex;
}
.categorie-tow {
  display: flex;
}

.categorie-three {
  margin-bottom: 25px;
  display: flex;
}

.categorie-four {
  display: flex;
}

.para-cat {
  color: #212025;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  word-spacing: 2px;
  line-height: 23px;
}

#plat {
  color: #212025;
  font-size: 40px;
  margin-right: 15px;
}

/* End Style Chef Section */

/* Start Style Meals Section */

.meals {
  height: 350px;
  background-color: #fbfbfb;
}

.section-meals-content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meals-content-one {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.meals-para {
  color: #ff5600;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}

.meals-h2 {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.meals-content-tow {
  width: 90%;
}

.ul-meals-section {
  display: flex;
  justify-content: space-evenly;
}

.a-meals {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #ff5600;
  padding: 8px 28px;
  border-radius: 2px;
}

/* End Style Meals Section */

/* Start Style Left Photo Section */

.left-photo-section {
  height: 800px;
}

.left-photo-content {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-photo-png {
  height: 650px;
  width: 450px;
  margin-top: 73px;
  margin-right: 50px;
}

.left-photo-texts {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.left-photo-para {
  color: #ff5600;
  font-size: 19px;
  font-weight: 500;
}

.left-photo-h2 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  margin-top: -50px;
}

.para-about-our-res {
  font-size: 18px;
  word-spacing: 2px;
  line-height: 1.8;
  width: 700px;
  word-break: break-all;
  color: #212025;
}

#para-about-our-res-id {
  margin-top: -40px;
}

.about-our-res-btn {
  width: 195px;
  height: 60px;
  color: #464d65;
  border-radius: 5px;
  border: 1px solid #ff5600;
  background: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* End Style Left Photo Section */

/* Start Style Book Table Section */

.book-table {
  height: 650px;
  background-image: url(/Images/top-view-arrangement-with-salad-boxes-sauce_23-2148247882.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.book-table-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-table-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-table-par {
  color: #ff5600;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}

.book-table-h2 {
  font-size: 64px;
  margin-top: -30px;
}

.book-table-inputs {
  width: 60%;
  height: 200px;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 5px;
}

.iputs {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.person ,
.date ,
.time ,
.book-now {
  width: 190px;
  height: 60px;
  margin-bottom: 50px;
}

#select1 ,
#date ,
#time {
  width: 100%;
  height: 100%;
  padding-left: 45px;
  font-size: 18px;
  color: #9d9d9d;
  border: 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#person ,
#icon-date ,
#icon-time {
  font-size: 18px;
  position: relative;
  top: 40px;
  left: 15px;
  color: #9d9d9d;
}

.book-now-btn {
  width: 100%;
  height: 60px;
  color: white;
  border-radius: 5px;
  border: 0;
  background-color: #ff5600;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 23px;
  padding: 0;
}
/* End Style Book Table Section */

/* Start services Section */

.services {
  width: 100%;
  height: 800px;
}

.services-content {
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-texts {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-para {
  color: #ff5600;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}

.services-h2 {
  font-size: 64px;
  margin-top: -30px;
}

.services-sections {
  display: flex;
}

.services-section-one,
.services-section-tow,
.services-section-three {
  width: 300px;
  height: 350px;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section-tow {
  margin-left: 20px;
  margin-right: 20px;
}

#chef-id-services ,
#plat-id-services {
  font-size: 64px;
  margin-top: 55px;
  color: #212025;
  margin-bottom: 40px;
}

.services-section-one-h4 ,
.services-section-tow-h4 ,
.services-section-three-h4 {
  font-size: 25px;
  margin-bottom: 30px;
}

.services-section-one-para ,
.services-section-tow-para ,
.services-section-three-para {
  text-align: center;
  color: #464d65;
  line-height: 1.6;
  margin-left: 5px;
  margin-right: 5px;
}

/* End services Section */

/* Start Style Subscribe Your Email Section  */

.subscribe-your-email {
  width: 100%;
  height: 600px;
  background-image: url(/Images/photo-1490818387583-1baba5e638af.jpg);
  background-size: cover;
}

.subscribe-your-email-content {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: end;
}

.subscrib-content {
  width: 600px;
  height: 400x;
}

.about-our-resto-para-subscribe-sec {
  color: #ff5600;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 22px;
}

.subscribe-your-email-h2 {
  font-size: 49px;
  color: #212025;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 17px;
  /* margin-top: -30px; */
}

.subscribe-your-email-para {
  color: #212025;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
}

.input-subscrib-email {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

#email {
  width: 73%;
  height: 60px;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 33px 9px 32px;
  border: none;
  border-radius: 0px;
}

#subscribe-btn {
  width: 27%;
  height: 60px;
  background-color: #ff5600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 0px;
  letter-spacing: 0.1em;
  line-height: 29px;
  border: none;
}

/* Start Style Subscribe Your Email Section  */

/* Start Style News Section */

.news {
  height: 700px;
}

.news-content {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-para {
  color: #ff5600;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 22px;
}

.news-h2 {
  font-size: 49px;
  color: #212025;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 17px;
}

.recent-news {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.new1 ,
.new2 ,
.new3 {
  width: 330px;
  height: 450px;
  position: relative;
}

.new1-photo ,
.new2-photo ,
.new3-photo {
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
}

.new1-content ,
.new2-content ,
.new3-content {
  position: absolute;
  z-index: 3;
  width: 94%;
  bottom: -4px;
  right: 0;
  border-radius: 5px;
  background-color: #f9f9f8;
  padding: 29px 20px 20px 31px;
}

.new1-photo {
  background-image: url(/Images/blog1.png.webp);
}

.new2-photo {
  background-image: url(/Images/blog2.png.webp);
}

.new3-photo {
  background-image: url(/Images/blog3.png.webp);
}

.news-date {
  color: #828fa3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 15px;
}

.news-h4 {
  font-weight: 700;
  line-height: 1.4;
}

/* End Style News Section */

/* End Style main */

/* Start Style Footer */

footer {
  height: 600px;
  background-image: url(/Images/download.webp);
  background-repeat: repeat;
  background-size: cover;
}

.footer-content {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-logo-png {
}

.footer-top-cintent {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.footer-nav-ul ,
.footer-useful-ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
  list-style: none;
}

.footer-h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 38px;
  font-weight: 500;
}

.footer-nav ul li a ,
.footer-useful ul li a {
  text-decoration: none;
  color: #868c98;
  font-weight: 300;
  font-size: 18px;
}

.footer-bottom {
  margin-bottom: 70px;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
}

.copyright-para {
  color: #393a50;
  font-weight: 300;
  font-size: 17px;
  line-height: 2;
}

#heart {
  color: #ff5600;
}

.copyright-para-spn {
  color: #ff5600;
}

.follow-us {
  display: flex;
  justify-content: space-between;
  width: 23%;
  margin-top: 12px;
}

.follow-us-para {
  color: #fff;
  font-size: 17px;
}

.follow-us-line {
  width: 43px;
  height: 2px;
  background-color: #3b3647;
  margin-top: 7px;
}

#twitter ,
#facebook ,
#global ,
#insta {
  color: #848493;
  font-size: 14px;
  text-align: center;
  margin-right: 16px;
}

/* Start Style Footer */